.facebook-like {
  position: absolute;
  right: 0;
  border: none;
  overflow: hidden;
  height: 35px;
}
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.private:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: url(/assets/images/padlock.jpg) #ffffff no-repeat center center;
  position: absolute;
  top: 0;
  opacity: 0.5;
}
.collection .grid a, .collection .list a {
  width: 204px;
  height: 204px;
  position: relative;
  display: block;
  overflow: hidden;
}
.collection .grid a span, .collection .list a span {
  position: absolute;
  top: 0;
  display: block;
  width: 98%;
  padding: 10px 10px;
  z-index: 100;
  margin-left: -4px;
}
.collection .grid a span *, .collection .list a span * {
  display: block;
  text-decoration: none;
}
.collection .grid a large, .collection .list a large {
  font-size: 20px;
}
.collection .grid a small, .collection .list a small {
  display: none;
  font-size: 12px;
  margin-top: 10px;
}
.collection .grid a:hover span, .collection .list a:hover span {
  height: 100%;
}
.collection .grid a:hover span small, .collection .list a:hover span small {
  display: block;
}
.collection .grid a:hover span small.base, .collection .list a:hover span small.base {
  position: absolute;
  bottom: 0;
}
.collection .list a {
  width: 97%;
  height: 250px;
}
.collection .list a ul {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin: 0;
  width: 192px;
  z-index: 00;
}
.collection .list a ul li {
  float: left;
  margin: 3px;
}
.collection .list a img {
  width: 100%;
}
.polaroid {
  overflow: visible;
  width: 100%;
  min-height: 100px;
  position: relative;
}
.polaroid a {
  margin: 0;
  width: 104px;
  width: 104px;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  background-color: #eee;
  padding: 5px 5px 8px 5px;
}
.polaroid a span {
  width: 100px;
  height: 100px;
  background-color: #333;
  display: block;
  border: 1px solid #999;
  padding: 1px;
}
.polaroid p {
  color: #999;
  text-align: center;
  margin: 3px 0 0 0;
  font-size: 11px;
}
.magazine .image {
  text-align: center;
  padding: 5px;
  margin: 4px 0.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  float: left;
  width: 99%;
}
.magazine img {
  width: 100%;
}
.magazine div {
  overflow: hidden;
}
.magazine .layout-lll .image-2, .magazine .layout-lll .image-3 {
  width: 49%;
}
.magazine .layout-pll .image-1 {
  width: 42%;
}
.magazine .layout-pll .image-2, .magazine .layout-pll .image-3 {
  width: 51%;
}
.magazine .layout-ppl .image-1, .magazine .layout-ppl .image-2 {
  width: 24%;
}
.magazine .layout-ppl .image-3 {
  width: 49%;
}
.magazine .layout-ppp .image-1 {
  width: 66%;
}
.magazine .layout-ppp .image-2, .magazine .layout-ppp .image-3 {
  width: 32%;
}
.magazine .layout-lpp .image-1 {
  width: 99%;
}
.magazine .layout-lpp .image-2, .magazine .layout-lpp .image-3 {
  width: 49%;
}
.magazine .layout-llp .image-2 {
  width: 66%;
}
.magazine .layout-llp .image-3 {
  width: 32%;
}
.magazine .layout-lpl .image-2 {
  width: 37%;
}
.magazine .layout-lpl .image-3 {
  width: 61%;
}
.magazine .layout-plp .image-1 {
  width: 24%;
}
.magazine .layout-plp .image-2 {
  width: 49%;
}
.magazine .layout-plp .image-3 {
  width: 24%;
}
.magazine .layout-ll .image-1,
.magazine .layout-pp .image-1,
.magazine .layout-ll .image-2,
.magazine .layout-pp .image-2 {
  width: 49%;
}
.magazine .layout-lp .image-1 {
  width: 66%;
}
.magazine .layout-lp .image-2 {
  width: 32%;
}
.magazine .layout-pl .image-1 {
  width: 32%;
}
.magazine .layout-pl .image-2 {
  width: 64%;
}
.magazine a {
  position: relative;
}
.magazine a span {
  position: absolute;
  display: none;
  top: 0;
  width: 80%;
  padding: 30px 10%;
  text-decoration: none;
}
.magazine a span large {
  font-size: 30px;
  color: white;
  display: block;
  margin-bottom: 20px;
}
.magazine a span small {
  display: block;
  text-align: right;
}
.magazine a:hover span {
  display: block;
}
/* Portrait */
@media screen and (max-width: 320px) {
  .image {
    width: 100% !important;
  }
}
/* Landscape */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .image {
    width: 100% !important;
  }
}
.gallery .intro {
  position: relative;
}
.gallery .guestbook blockquote {
  width: 40%;
  margin: 3%;
  float: left;
}
.slider-target {
  position: relative;
}
.slider-target .slider {
  display: block;
  overflow: hidden;
}
.slider, .slider-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider {
  z-index: 1000;
  display: none;
  position: absolute;
  background-color: black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slider-overlay {
  z-index: 999;
  background-color: red;
  opacity: 0.6;
  position: fixed;
}
.slider .slider-control {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
}
.pull-left {
  float: left;
  margin-right: 10px;
}
.pull-right {
  float: right;
  margin-left: 10px;
}
.slider-timer b {
  display: block;
  width: 0;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: right;
  border-right: 1px solid white;
}
.slider-timer span {
  display: none;
  color: white;
}
.slider-timer {
  height: 2px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: -1px;
}
.slider-control.active .slider-timer span {
  display: inline;
  position: absolute;
  right: 4px;
}
.slider-control-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.slider-timer-end b {
  width: 100%;
}
.slider-control-center {
  position: absolute;
  top: 50%;
  margin-bottom: 2%;
  width: 100%;
}
.slider-ui {
  display: none;
}
.slider-control.active .slider-ui, .slider-ui.active {
  display: block;
}
body.slider-target .slider {
  position: fixed;
  border-width: 0;
}
body.slider-target .slider-overlay {
  display: none;
}
.slider-title {
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  color: #fff;
}
.slider-image {
  position: absolute;
  top: 0;
  left: 0;
}
.slider-control-bottom {
  padding: 6px 0;
}
.slider-control-bottom .slider-ui:firstChild {
  margin-right: 6px;
}
.slider-control.active .animate {
  opacity: 1;
}
.slider-control.active .slider-control-bottom .animate {
  position: relative;
  top: 0;
}
.slider-control .slider-control-bottom .animate {
  position: relative;
  top: 50px;
}
.slider-thumbnails {
  position: absolute;
  height: 100%;
  top: 0%;
  padding: 0 20px;
  margin: 0px auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.slider-thumbnail {
  width: 80px;
  height: 80px;
  float: left;
}
.slider-thumbnail img {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #333;
}
.slider-thumbnail img {
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transform: scale(0.75);
  -webkit-transform: scale(0.75);
}
.slider-thumbnail:hover img {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  z-index: 5000;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 100, 0.7);
}
.slider-ui, .slider-ui-disable {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-transition: all 0.1s linear 0s;
  background-color: #E6E6E6;
  background-image: -moz-linear-gradient(center top, #ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border-color: #CCCCCC #CCCCCC #BBBBBB;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 4px 8px 3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.slider-ui:hover {
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
}
.slider-ui-disable {
  opacity: 0.3;
  cursor: default;
}
.slider-ui.on, .slider-ui:active, .slider-ui-disable.on {
  background-color: #0064CD;
  background-image: -moz-linear-gradient(center top, #049cdb, #0064cd);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.slider-ui.previous {
  padding: 20px 10px 16px;
  border-radius: 0 40px 40px 0;
  position: relative;
  top: -20px;
  left: -8px;
}
.slider-ui.next {
  padding: 20px 10px 16px;
  border-radius: 40px 0 0 40px;
  position: relative;
  top: -20px;
  left: 8px;
}
.slider-ui.previous:hover {
  left: 0;
}
.slider-ui.next:hover {
  left: 0;
}
/*ANIMATION  */
.slider-title {
  -moz-transition: all 0.6s linear 0s;
  -webkit-transition: all 0.6s linear 0s;
  height: 0;
  padding: 0;
  width: 0;
  width: 100%;
  overflow: hidden;
  color: transparent;
}
.slider-title.active {
  height: auto;
  width: 100%;
  padding: 6px 10px;
  color: white;
}
.slider-ui {
  -moz-transition: opacity 1s linear 0s;
  -webkit-transition: opacity 1s linear 0s;
  opacity: 0;
}
.slider-control.active .slider-ui, .slider-ui.active {
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  opacity: 1;
}
.slider-control .slider-timer {
  -moz-transition: all 0.6s linear 0s;
  -webkit-transition: all 0.6s linear 0s;
  height: 2px;
  opacity: 0;
  display: none;
}
.slider.playing .slider-control .slider-timer {
  opacity: 1;
  display: block;
}
.slider-control.active .slider-timer {
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  height: 20px;
}
.slider-ui.play {
  float: right;
  margin-right: 12px;
}
.aslider-loading span {
  width: 500px;
  height: 300px;
  background: url('/assets/images/spinner.gif') white no-repeat center center;
  display: block;
}
.slider-loading {
  background: url('/assets/images/spinner.gif') rgba(255, 255, 255, 0.5) no-repeat center center;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5)
and (orientation:landscape),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation:landscape) {
  /* Styles */
  .slider-target {
    max-width: 960px;
    max-height: 640px;
    overflow: hidden;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5)
and (orientation:portrait),
only screen and (min-device-pixel-ratio : 1.5) 
and (orientation:portrait) {
  /* Styles */
  .slider-target {
    max-height: 960px;
    max-width: 640px;
    overflow: hidden;
  }
}
